.container {
	position: fixed;
	left: 0;
	z-index: 100;
	width: 616px;
	height: 100%;
	overflow: hidden;
	transform: translate(-616px);
	transition: transform 0.5s ease;
}

.container_open {
	transform: translate(0);
}

.form {
	display: flex;
	flex-shrink: 0;
	flex-direction: column;
	box-sizing: border-box;
	width: 616px;
	height: auto;
	min-height: 100%;
	padding: 50px 31px;
	background-color: #ffffff;
	border-right: 1px solid #000000;
}

.title {
	margin: 0 0 40px;
	font-weight: 800;
	font-size: 32px;
	line-height: 1.19; /* 38px / 32px */
	text-align: center;
	text-transform: uppercase;
}

.formSection {
	margin-bottom: 40px;

	&:last-child {
		margin-bottom: 0;
	}
}

.bottomContainer {
	display: flex;
	justify-content: space-between;
	margin-top: auto;
	padding-top: 40px;
}
